@import url('https://fonts.googleapis.com/css2?family=Podkova&family=Roboto:wght@100;500&family=RocknRoll+One&family=Source+Sans+3:wght@700&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  position: absolute;
  width: 1518px;
  height: 70px;
  left: 0px;
  top: 0px;
  background: #26038A;
}

.title {
  position: absolute;
  width: 590px;
  height: 47px;
  left: 425px;
  top: -10px;
  font-family: "Roboto";
  font-size: 40px;
  line-height: 47px;
  color: #FFFFFF;
}

.text {
  position: absolute;
  width: 500px;
  height: 90px;
  left: 68px;
  top: 133px;
  font-family: 'Roboto';
  font-size: 10px;
  line-height: 35px;
  color: #26038A;
}

hr {
  border-top: 1px solid rgba(38, 3, 138, 1);
  width: 275%;
  margin-top: -20px;
}

.container {
  margin: 100px auto;
  width: 400px;
  height: auto;
  background: #ffffff;

  border-radius: 10px;

  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: center;

  overflow: hidden;
  box-shadow: 2px 5px 4px 0px rgb(69 53 104 / 20%);

}

input,
button {
  all: unset;
  width: 100%;
  height: 40px;
  box-shadow: inset 2px 2px 4px 0px rgb(69 53 104 / 20%);

  border-bottom: 2px solid #c3b7de;
}

input {
  padding: 0 10px;
}

input::placeholder {
  position: relative;
  left: 20px;
}

button {
  background: #442d6b;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;

  border: none;
  text-align: center;
  cursor: pointer;
}

.task {
  width: 400px;
  padding: 0 10px;
  height: 40px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-items: center;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;

}

.task label {
  padding: 10px;
}


.icon {
  width: 60px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.trash {
  color: #f8a02c;
  cursor: pointer;
}

.edit {
  color: #89798b;
  cursor: pointer

}

.container {
  margin-top:200px
}